$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;


@mixin respond-to($device) {
    @if $device == mobile {
        @media (max-width: $mobile) {
            .colorBackground {
                .welcomeArea {
                    display: flex;

                    .titleImpact {
                        max-width: 25rem;
                        font-size: clamp(2rem, 5vw, 17rem);

                        .highlight {
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                height: 2px;
                            }
                        }
                    }

                    .subtitle {

                        font-size: clamp(1rem, 2vw, 2rem);
                        width: 100%;
                        max-width: 20rem;

                    }
                }

                .flowContainer {
                    .imageInSide {
                        top: 200rem;
                    }
                }
            }
        }
    }

    @else if $device ==tablet {
        @media (max-width: $tablet) {
            @content;
        }
    }

    @else if $device ==desktop {
        @media (max-width: $desktop) {
            @content;
        }
    }

}
