$text-color: #DFDFDF;

.welcomeArea {
  display: flex;
  width: 100rem;
  height: 139rem;
  flex-shrink: 0;
  flex-direction: column;

  .titleImpact {
    color: #DFDFDF;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: 15rem;
    font-weight: bold;
    font-size: 100;

    .ImageDesign {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: -1.5rem;
      margin-left: 13rem;
    }
  }

  .subtitle {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 30;
    width: 37rem;
    margin-left: 39rem;
    margin-top: 3rem;
  }
}

.HIWcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 6rem;

  width: 100%; // ocupa toda a largura disponível
  max-width: 70rem; // limita a largura para não ficar gigante em telas grandes
  margin: 6rem auto; // centraliza horizontalmente

  height: 71.71206rem; // deixa a altura se ajustar ao conteúdo

  .title {
    background: linear-gradient(90deg, #DFDFDF 0%, #2883BD 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2.5rem;

    line-height: 190%;

    letter-spacing: -0.06rem;
    margin-bottom: 5rem;
  }

  .text {
    display: flex;
    color: $text-color;
    justify-content: center;
    align-items: center;
    margin: 0 3rem;
  }

  .cards {
    height: 57.02456rem;
    padding: 2rem;
    flex-shrink: 0;

    .cardsUp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 27.5rem;
      gap: 3.125rem;
      flex-shrink: 0;
      flex-direction: row;
    }

    .cardsDown {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 27.5rem;
      flex-shrink: 0;
      gap: 3.125rem;
      flex-direction: row;
    }

    .card1 {
      width: 34.0625rem;
      height: 27.5rem;
      flex-shrink: 0;
      margin-bottom: 4rem;

      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.36);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 45.19%, rgba(61, 61, 61, 0.10) 100%);
      backdrop-filter: blur(7.199999809265137px);

      .Images {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        gap: 4rem;

        img:last-child {
          margin-bottom: 2.5rem; // sobe só o segundo ícone
        }

        .outlookWrapper img {
          filter: drop-shadow(0 13px 13px rgba(0, 0, 0, 0.22)) drop-shadow(0 30px 18px rgba(0, 0, 0, 0.13)) drop-shadow(0 52px 21px rgba(0, 0, 0, 0.04));
        }
      }

      .upText {
        display: flex;
        color: $text-color;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 2rem 0;
        font-weight: bold;
        font-size: x-large;
      }
    }

    .card2 {
      width: 34.0625rem;
      height: 27.5rem;
      flex-shrink: 0;
      margin-bottom: 4rem;

      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.36);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 45.19%, rgba(61, 61, 61, 0.10) 100%);
      backdrop-filter: blur(7.199999809265137px);

      .Images {
        display: flex;
        justify-content: center;
        gap: 4rem;
      }

      .upText {
        display: flex;
        color: $text-color;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
        font-weight: bold;
        font-size: x-large;
      }

    }

    .card3 {
      width: 34.0625rem;
      height: 27.5rem;
      flex-shrink: 0;

      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.36);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 45.19%, rgba(61, 61, 61, 0.10) 100%);
      backdrop-filter: blur(7.199999809265137px);

      .Images {
        display: flex;
        justify-content: center;
        gap: 4rem;
      }

      .upText {
        display: flex;
        color: $text-color;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
        font-weight: bold;
        font-size: x-large;
      }

    }

    .card4 {
      width: 34.0625rem;
      height: 27.5rem;
      flex-shrink: 0;

      border-radius: 2rem;
      border: 1px solid rgba(255, 255, 255, 0.36);
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 45.19%, rgba(61, 61, 61, 0.10) 100%);
      backdrop-filter: blur(7.199999809265137px);

      .Images {
        display: flex;
        justify-content: center;
        gap: 4rem;
      }

      .upText {
        display: flex;
        color: $text-color;
        justify-content: center;
        align-items: center;
        margin: 3rem 0 2rem 0;
        font-weight: bold;
        font-size: x-large;
      }

    }
  }
}