  $text-color: #DFDFDF;

  .colorBackground {
    background: #0B0A0C;

    .welcomeArea {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-image: url('/grade.png');
      background-size: cover;

      min-width: 100%;
      min-height: 700px;
      margin-bottom: -100px;

      .titleImpact {
        color: $text-color;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
        margin: 0;
        max-width: 75rem;
        margin-bottom: 5vh;
        font-weight: bold;
        font-size: clamp(2rem, 5vw, 17rem);

        .highlight {
          position: relative;


          &::after {
            content: "";
            position: absolute;
            top: 37px;
            left: 0;
            width: 100%;
            height: 150px;
            background-image: url("/design-below-title.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            pointer-events: none;
          }
        }
      }

      .subtitle {
        text-align: center;
        font-size: clamp(1rem, 2vw, 2rem);
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;

      }
    }

    .containerDownloadNow {
      background-image: url('/grade.png');
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: center;
      z-index: 0;

      .btnDownloadNow {
        z-index: 1;
        font-size: medium;
        justify-content: center;
        display: flex;
        align-items: center;
        cursor: pointer;
        width: 13.375rem;
        height: 60px;
        text-align: center;
        border-radius: 3vh;
        border: none;
        background: #2A79C1;
        box-shadow: 0 0 13.2px 0 #2883BD;

        .iconDownload {
          margin: 1.5vh;
        }

        .txtBtnDownloadNow {
          margin-left: 1vh;
        }
      }

      .btnDownloadNow:hover {
        background-color: #1F5EA8;
      }
    }

    .containerDemonstration {
      position: relative;
      background-image: url('/grade.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &::before {
        content: "";
        position: absolute;
        width: clamp(15rem, 30vw, 27rem);
        height: clamp(15rem, 30vw, 25rem);
        top: clamp(5rem, 15vh, 12rem);
        left: clamp(10rem, 40vw, 45rem);
        border-radius: 50%;
        background: rgba(40, 131, 189, 0.60);
        filter: blur(200px);
        z-index: 0;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -55px;
        left: 0;
        width: 100%;
        height: clamp(6rem, 30vh, 18rem);
        background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0) 0%,
            rgba(20, 20, 20, 0.4) 10%,
            rgba(11, 10, 12, 1) 40%);
        filter: blur(15px);
        pointer-events: none;
        z-index: 2;
      }

      .imageDemonstration {
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        z-index: 1;
        position: relative;

      }
    }

    .HIWcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      width: 100%;
      max-width: 70rem;
      margin: clamp(3rem, 6vh, 6rem) auto;
      min-height: clamp(50vh, 70vh, 90vh);



      .title {
        background: linear-gradient(90deg, #DFDFDF 0%, #2883BD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: clamp(1.8rem, 3vw, 3.5rem);
        line-height: 1.8;
        letter-spacing: -0.06rem;
        margin-bottom: clamp(2rem, 5vh, 4rem);
      }

      .label {
        display: flex;
        position: relative;
        right: 0;
        margin-top: clamp(1vh, 2vh, 4vh);
        margin-bottom: clamp(2.5vh, 5vh, 10vh);
        margin-left: clamp(1.5vh, 3vh, 6vh);
        justify-content: center;
        align-items: center;
        width: 11.5rem;
        height: 2.75rem;
        flex-shrink: 0;
        border-radius: 2rem;
        background: #141414;
      }

      .text {
        display: flex;
        color: $text-color;
        justify-content: center;
        align-items: center;
        margin: 0 5%;
        text-align: center;
      }

      .cards {
        width: 100%;
        padding: 2vh;
        display: flex;
        flex-direction: column;
        gap: 4vh;

        .cardsUp,
        .cardsDown {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 3vw;
        }

        .card {
          flex: 1 1 calc(50% - 3vw);
          max-width: 34rem;
          min-width: 18rem;
          height: clamp(25rem, 30vh, 35rem);
          border-radius: 2rem;
          border: 1px solid rgba(255, 255, 255, 0.36);
          background: linear-gradient(180deg,
              rgba(255, 255, 255, 0.10) 45.19%,
              rgba(61, 61, 61, 0.10) 100%);
          backdrop-filter: blur(7.2px);

          .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4vw;
            margin-top: 5vh;

            img:last-child {
              margin-bottom: 4vh;
            }

            .outlookWrapper img {
              filter: drop-shadow(0 13px 13px rgba(0, 0, 0, 0.22)) drop-shadow(0 30px 18px rgba(0, 0, 0, 0.13)) drop-shadow(0 52px 21px rgba(0, 0, 0, 0.04));
            }
          }

          .Images {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4vw;
          }

          .upText4 {
            color: $text-color;
            font-weight: bold;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            margin-left: 2rem;
            margin-top: 3rem;
            margin-bottom: -0.05rem;
            text-align: left;
          }

          .upText1 {
            color: $text-color;
            font-weight: bold;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            margin-left: 2rem;
            margin-top: 1rem;
            text-align: left;
          }

          .text1 {
            color: $text-color;
            font-size: clamp(0.9rem, 1.2vw, 1.2rem);
            margin: 3rem 2rem;
            text-align: justify;
          }

          .text4 {
            color: $text-color;
            font-size: clamp(0.9rem, 1.2vw, 1.2rem);
            margin: 1rem 2rem;
            text-align: justify;
          }

          .upText {
            color: $text-color;
            font-weight: bold;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            margin: 1rem 2rem;
            text-align: left;
          }

          .text {
            color: $text-color;
            font-size: clamp(0.9rem, 1.2vw, 1.2rem);
            margin: 1rem 2rem;
            text-align: justify;
          }
        }
      }
    }

    .FlowContainer {

      .title {
        display: flex;
        background: linear-gradient(90deg, #DFDFDF 0%, #2883BD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: clamp(1.8rem, 3vw, 3.5rem);
        line-height: 1.8;
        letter-spacing: -0.096vh;
        margin: 0 auto 5vh;
        width: min(90%, 60rem);

      }

      .label {
        display: flex;
        position: relative;
        left: 14%;
        margin: clamp(1rem, 4vh, 6rem) clamp(-3rem, -5vh, -1rem);
        justify-content: center;
        align-items: center;
        width: clamp(6rem, 10vw, 7rem);
        height: clamp(2.5rem, 5vh, 3rem);
        flex-shrink: 0;
        border-radius: 2rem;
        background: #141414;
      }

      .mainContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        gap: 5vw;
        margin-top: 5vh;

        .wordContainer {
          flex: 1 1 40rem;
          max-width: 45rem;
          text-align: justify;
          display: flex;
          flex-direction: column;
          margin-left: clamp(15rem, 25rem, 45rem);
          gap: -5rem;

          .wordGray {
            color: #dfdfdf;
            font-size: clamp(1.2rem, 2vw, 1.8rem);
            font-family: var(--sds-typography-subtitle-font-family);
            font-style: normal;
            font-weight: var(--sds-typography-subtitle-font-weight);
            line-height: 120%;
            /* 38.4px */
          }

          .symbol {
            justify-content: center;
            align-items: center;
            color: #798189;
            font-family: var(--sds-typography-subtitle-font-family);
            font-size: clamp(1.2rem, 2vw, 1.8rem);
            font-style: normal;
            font-weight: var(--sds-typography-subtitle-font-weight);
            line-height: 120%;
            margin-left: clamp(0.5rem, 6vw, 6rem);
            margin-top: -0.3rem;
            margin-bottom: -0.3rem;
          }

          .wordBlue {
            color: #2883BD;
            font-family: var(--sds-typography-subtitle-font-family);
            font-size: clamp(1.5rem, 2.5vw, 2rem);
            font-style: normal;
            font-weight: var(--sds-typography-subtitle-font-weight);
            line-height: 120%;
          }
        }

        .imageInSide {
          position: relative;
          margin-left: 40vh;
          margin-top: -10vh;
          display: flex;
          z-index: 1;


          &::before {
            content: "";
            position: absolute;
            width: 100vh;
            height: 130vh;
            // top: 500vh;
            // left: 180vh;
            inset: 0;
            border-radius: 73.7vh;
            background: rgba(40, 131, 189, 0.60);
            filter: blur(400px);
            z-index: 0;
          }

          img {
            position: relative;
            z-index: 1;
          }
        }
      }
    }

    .containerFunctions {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: clamp(2rem, 8vw, 6rem) 1rem;
      text-align: center;

      .title {
        background: linear-gradient(90deg, #DFDFDF 0%, #2883BD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: clamp(1.8rem, 3vw, 4.5rem);
        line-height: 1.8;
        letter-spacing: -0.096vh;
        width: 60%;
        margin-top: clamp(2rem, 8vh, 8rem);
        margin-bottom: clamp(1rem, 5vh, 5rem);

      }

      .label {
        display: flex;
        position: relative;
        right: 14%;
        justify-content: center;
        align-items: center;
        width: clamp(8rem, 20vw, 12.5rem);
        height: clamp(2.5rem, 5vw, 3rem);
        flex-shrink: 0;
        border-radius: 2rem;
        background: #141414;
        margin: clamp(1rem, 4vh, 6rem) clamp(-3rem, -5vh, -1rem);

        // display: flex;
        // position: relative;
        // left: 14%;
        // margin: clamp(1rem, 4vh, 6rem) clamp(-3rem, -5vh, -1rem);
        // justify-content: center;
        // align-items: center;
        // width: clamp(6rem, 10vw, 7rem);
        // height: clamp(2.5rem, 5vh, 3rem);
        // flex-shrink: 0;
        // border-radius: 2rem;
        // background: #141414;
      }

      .blockContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(2rem, 6vh, 5rem);
        width: min(90%, 1000px);
        height: 80vh;
        flex-shrink: 0;
        border-radius: 3.2vh;
        border: 1px solid rgba(255, 255, 255, 0.35);
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(113, 113, 113, 0.10) 75%);
        backdrop-filter: blur(5.699999809265137px);
        margin-left: 42vh;
        margin-top: 20vh;

        .block1 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row;
          margin-top: -7vh;

          .iconBlocks {
            margin-top: 5vh;
            margin-right: 5vh;
            margin-left: -15vh;
          }

          .Texts1 {
            margin-left: -9vh;

            .upperText1 {
              width: 25.359rem;
              color: #FFF;
              font-family: var(--sds-typography-heading-font-family);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: var(--sds-typography-heading-font-weight);
              line-height: 120%;
              letter-spacing: -0.48px;
              margin-bottom: 2vh;
              margin-top: 7vh;
            }

            .downText1 {
              width: 22rem;
              color: #FFF;
              font-family: var(--sds-typography-body-font-family);
              font-size: 0.9rem;
              font-style: normal;
              font-weight: var(--sds-typography-body-font-weight-regular);
              line-height: 140%;
            }
          }
        }

        .block2 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row;

          .iconClock {
            margin-top: 10vh;
            margin-right: 20vh;
            margin-left: -29vh;
          }

          .Texts2 {
            margin-left: -15vh;

            .upperText2 {
              width: 25.359rem;
              color: #FFF;
              font-family: var(--sds-typography-heading-font-family);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: var(--sds-typography-heading-font-weight);
              line-height: 120%;
              letter-spacing: -0.48px;
              margin-bottom: 2vh;
              margin-top: 7vh;
            }

            .downText2 {
              width: 22rem;
              color: #FFF;
              font-family: var(--sds-typography-body-font-family);
              font-size: 0.9rem;
              font-style: normal;
              font-weight: var(--sds-typography-body-font-weight-regular);
              line-height: 140%;
            }
          }
        }

        .block3 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row;

          .iconStatistic {
            margin-top: 10vh;
            margin-right: 20vh;
            margin-left: -27vh;
          }

          .Texts3 {
            margin-left: -15vh;

            .upperText3 {
              width: 25.359rem;
              color: #FFF;
              font-family: var(--sds-typography-heading-font-family);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: var(--sds-typography-heading-font-weight);
              line-height: 120%;
              letter-spacing: -0.48px;
              margin-bottom: 2vh;
              margin-top: 7vh;
            }

            .downText3 {
              width: 22rem;
              color: #FFF;
              font-family: var(--sds-typography-body-font-family);
              font-size: 0.9rem;
              font-style: normal;
              font-weight: var(--sds-typography-body-font-weight-regular);
              line-height: 140%;
            }

          }
        }

        .block4 {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: row;
          margin-bottom: 20vh;

          .iconChat {
            margin-top: 10vh;
            margin-right: 20vh;
            margin-left: -27vh;
          }

          .Texts4 {
            margin-left: -15vh;

            .upperText4 {
              width: 25.359rem;
              color: #FFF;
              font-family: var(--sds-typography-heading-font-family);
              font-size: 1.5rem;
              font-style: normal;
              font-weight: var(--sds-typography-heading-font-weight);
              line-height: 120%;
              letter-spacing: -0.48px;
              margin-bottom: 2vh;
              margin-top: 7vh;
            }

            .downText4 {
              width: 22rem;
              color: #FFF;
              font-family: var(--sds-typography-body-font-family);
              font-size: 0.9rem;
              font-style: normal;
              font-weight: var(--sds-typography-body-font-weight-regular);
              line-height: 140%;
            }

          }
        }

        .mockup {
          margin-left: 68vh;
          margin-top: -83vh;
        }
      }
    }

    .finalSection {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10vh 0;

      .title {
        background: linear-gradient(90deg, #DFDFDF 0%, #2883BD 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        font-size: clamp(1.8rem, 6vw, 4.5rem);
        line-height: 1.8;
        letter-spacing: -0.096vh;
        width: 100%;
        max-width: 50rem;
        margin-bottom: 8vh;
      }

      .square1,
      .square2 {
        position: absolute;
        z-index: 0;
        pointer-events: none;
      }

      .square1 {
        bottom: 35vh;
        left: 0vh;
      }

      .square2 {
        z-index: 10;
        top: 60vh;
        right: 0vh;
      }

      .containerButtons {
        position: relative;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;

        .downloadFree {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 2vh;
          width: 19.8125rem;
          height: 3.75rem;
          border: none;
          cursor: pointer;
          border-radius: 1.0625rem;
          background: #2A79C1;
          box-shadow: 0 0 13.2px 0 #2883BD;
          transition: background-color 0.2s ease;

          .txtDownloadFree {
            text-align: justify;
            font-size: 1.5rem;
            margin-left: 2vh;
          }

          &:hover {
            background-color: #1F5EA8;
          }
        }

        .downloadGooglePlay {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
        }
      }
    }
  }