.navBar {
    position: fixed;
    top: 1.25rem;
    left: 0;
    right: 0;
    margin: 0 auto; // centraliza automaticamente
    width: 95%; // garante que não ultrapasse a tela
    max-width: 58.625rem;
    height: 4rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    border: 0.063rem solid rgba(255, 255, 255, 0.10);
    background: rgba(64, 64, 64, 0.25);
    backdrop-filter: blur(0.938rem);
    box-sizing: border-box;
    z-index: 10;

    .ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; // permite quebrar linha se necessário
        list-style: none;
        padding: 0 1rem; // ou padding: 0 1rem;

        .li {
            padding: 0 0.5rem;

            .Flow,
            .HowItWorks {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                line-height: normal;
            }
        }
    }

    // ================= MOBILE ===================
    @media (max-width: 480px) {
        position: fixed;
        top: 1.25rem;
        width: 95vw;
        max-width: 95vw;
        transform: translateX(-15%);
        height: 4rem;
        padding: 0 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        border-radius: 2rem;
        border: 0.063rem solid rgba(255, 255, 255, 0.10);
        background: rgba(64, 64, 64, 0.25);
        backdrop-filter: blur(0.938rem);
        z-index: 10;

        .ul {
            flex-direction: row; // horizontal
            // gap: 0.5rem;
            flex-wrap: nowrap;

            .li {
                padding: 0.5rem 0.8rem;
            }
        }
    }
}