$mobile: 480px;

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #111;
  color: white;
  width: 100%;
  background: linear-gradient(180deg, #0B0A0C 0%, #212121 37.5%);
  box-sizing: border-box;
  padding: 2rem 1rem;

  @media (max-width: $mobile) {
    flex-direction: column;
    align-items: flex-start;
  }

  .Description {
    display: flex;
    flex-direction: column;
    width: 55%;
    min-width: 200px;
    word-wrap: break-word;
    overflow-wrap: break-word;

    @media(max-width: $mobile) {
      width: 90%;
      margin: 0 auto;
    }

  }

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 2vh;
    box-sizing: border-box;

    @media (max-width: $mobile) {
      width: 90%;
      margin: 2vh auto 0 auto;
      align-items: center;
      text-align: justify;
    }
  }

  .rightSide {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 1vh;
    box-sizing: border-box;

    .Up,
    .Down {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 3rem;
      text-decoration: underline;

      @media (max-width: $mobile) {
        margin-top: 1rem;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5rem;
      }
    }

    @media (max-width: $mobile) {
      width: 90%;
      margin: 2vh auto;
      margin-left: -0.5vh;
      align-items: flex-start;
      text-align: center;
    }
  }
}